@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Lato&family=Rubik&family=Epilogue&family=Sora&family=Gabarito&family=Poppins&familydisplay=swap");
/*      Sass Template       */
/*  global classes  */
button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}
/* html{
    height:100%;
} */
body{
    min-height: 100dvh;
    /* background-color: #252525; */
}
.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(218, 41%, 20%);
    }
    100%{
        background-color: hsl(218, 41%, 100%);
    }
}
.fade-out-animation{
    opacity:0;
    visibility: hidden;
}

.loader{
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 9999;
    top: 0;
    display: flex;
    left: 0;
    justify-content: center;
    align-items:center;
    transition: all 0.2s;
}
  
 
  
/* typography classes */
.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}
.font-bold{
    font-weight: bold;
}
.font-rale {
    font-family: "Poppins", cursive;
}
.font-gab {
    font-family: "Gabarito", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

/* Color Template  */
.color-primary {
    color: #003859;
}

.color-primary-bg {
    background: #003859;
}

.color-second {
    color: #67BCCE;
}

.color-second-bg {
    background: #67BCCE;
}

.color-yellow {
    color: #FFD289;
}

.color-yellow-bg {
    background: #FFD289;
}
.color-red-bg {
    background: #ff8989;
}
.color-orange-bg {
    background: #E6873C;
}
.text-orange{
    color: #E6873C;
}
.text-grey{
    color: #333333;
}
.text-shadow{
    text-shadow: 1px 1px 4px #333333;
}
nav{
    display: flex;
    align-content: right;
    justify-content: space-between;
}
.logo{
    height: 43px;
    width: 48px;
    margin-left: 60px;
    margin-top: 0px;
}
.collapse{
    display: flex;
    justify-content: center;
}
.main{
    width: 430px;
    box-shadow: 1px 1px 3px #333333;
    background: white;
    opacity: 80%;
    padding: 08px;
    border-radius: 30px;
    height: 40px;
    position: relative;
    margin-left: 10px;
}
input{
    background: transparent;
    border: 0px;
    outline: 0px;
    
    margin-left: 5px;
    padding-top: 0px;
}
.search-input {
    border-right: 0;
  }
  
  .input-group-addon {
    position: absolute;
    right: 10px;
    background: transparent;
    border: 0px;
    outline: 0px;
    

  }
  
.input-group-addon:last-child {
    border-left: 0;
}
.btnsearch{
    position: absolute;

}
.seller{
    margin-right: 5px;
    color: white;
}
.profile{
    margin-left: 10px;
}
.margin-right{
    margin-right: 30px;
}
.right{
    margin-right: 50px;
}
.fa-user-circle{
    width: 20px;
    height: 20px;
}
.start-selling{
    margin-right: 50px;
}
.align-center{
    align-items: center;
}

/*  top products template   */
#top-products{
    min-height:80dvh;
    background-color: #f8ebeb42;

}
#top-products .owl-carousel .item .product a {
    overflow: hidden;
}
#top-products .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}
#top-products .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#top-products .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#top-products .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#top-products .owl-carousel .owl-nav button.owl-prev span,
#top-products .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}
#top-products .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}
#top-products .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#top-products .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

#top-products .container .font-rubik{
    color: #000000;
}

#redirect input[type=submit]{
    color: white;
    background-color: #28A745;
    max-width: 100px;
    border-radius: 5px;
    padding: 5px;
  }



  #redirect input[type=submit]:hover{
    background-color: #1f8236;
  }

/*   Special Offers Section Template */
.grid{
    position:relative;
    height:304px;
    justify-content: center;
    align-items: center;
    
}
#special-offers #filters {
    border-width: 10px;
    box-shadow: 1px 1px 2px #33333354;
    border-radius:5px;
    width: 430px;

}
#special-offers #filters button{
    border-radius:5px;
    /* box-shadow: 1px 1px 1px #3333333f; */
    font-size:17px;
    font-family: "Gabarito", sans-serif;
}
#special-offers .grid .grid-item {
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #33333342;
    background-color: white;
    margin-bottom: 30px;
}

#top-products .shop-container .grid-item {
    /* margin-right: 1.2rem; */
    width:200px;
    /* margin-right: 1.2rem; */
    height: 210px;
    margin-left: 20px;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333333;
    background-color: white;
    margin-bottom: 30px;
}

#special-offers{
    background-repeat: no-repeat;
    background-size: cover;
    min-height:80dvh;
    background-color: #F5F5F5;
    
}

#top-offers{
    background-repeat: no-repeat;
    background-size: cover;
    min-height:80dvh;
}

.margin-top-20{
    margin-top: 20px;
}

form{
    margin-left: 2px;
    padding: 1px;
}
.margin-right-10{
    /* font-family:"Gabarito", sans-serif; */

    margin-right: 10px;
}

.margin-left-10{
    font-family:"Gabarito", sans-serif;

    /* margin-top:10px; */
    margin-left: 10px;
    margin-right: 10px;
}

#special-offers .product span{
    /* text-align: bottom; */
    font-size: 17px;
    font-family: "Gabarito", sans-serif;
    margin-left:10px;
    /* padding-top:1000px; */
 }
#special-offers .grid-item .item-footer .ave{
    font-family:"Gabarito", sans-serif;

    font-size:35px;
    font-weight: 900;
    color:#e2ba4a;
    text-align: center;
    /* width:30px; */
    margin-left:10px;
    border-radius: 5px;
    /* display: inline; */
    /* margin-top:50px; */

    text-align: start;
}
#product .ave {
    color:#e2ba4a;
    font-size:20px;
}
 
#special-offers .grid-item  i{

    color:#e2ba4a;
    align-self:flex-end;
    vertical-align: 1.1px;
   
}
#special-offers .grid-item h5 span{

    color:#e2ba4a;
    font-size: 15px;
    margin-left:5px;
   
}
#special-offers h5{
    font-size: 15px;
    margin-left: 10px;
}

#special-offers h6{
    font-size: 17px;
    margin-left: 10px;
}
#special-offers h4{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#special-offers .btn{
    font-size: 18px;
    font-weight:300;
    color: rgb(255, 255, 255);
}
#special-offers #btn1{
    font-size: 25px;
    font-weight:300;
    color: rgb(0, 0, 0);
}


.text-blue{
    color: #67BCCE;
}

.padding{
    padding-left: 10px;
    padding-right: 10px;
}

/*advertisement*/
#banner_ad .here h5{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight:bold;
    color:black;
}

#banner_ad .adv img{
    height:400px;
    margin-bottom: 50px;
    
}
#banner_ad .img-prod img{
    height:auto;
    
    margin-bottom: 50px;
    
}
#banner .btn {
    
    background-color: #2A2F29;
    width: 175px;
    height: 40px;
  }

#banner .btn:hover {
    background-color: #e2ba4a;
    transition: background-color 0.3s ease;
    color: white !important;
    
    
}

/* News */
#news .container .owl-carousel .item h5{
    font-weight: bold;
    font-size: 20px;
}

/*   For Homepage */
.masthead{
    /* background-size: cover; */
    /* position: relative; */
    background-image: url('assets/2.jpg'); 
    /* filter: blur(8px);
    -webkit-filter: blur(8px);    */
    min-height: 88dvh;
    width:100%;
    /* height: 100px; */
    /* background-attachment:fixed; */
    /* background-size: 100%; */
    background-position:center;
    /* background-repeat: no-repeat; */
    background-size:cover;
    position: relative;
}
.carousel1{
    /* background-size: cover; */
    /* position: relative; */
    /* filter: blur(8px);
    -webkit-filter: blur(8px);    */
    height: 50dvh;

    width:100%;
    /* height: 100px; */
    /* background-attachment:fixed; */
    /* background-size: 100%; */
    background-position:center;
    /* background-repeat: no-repeat; */
    background-size:cover;
    position: relative;
}



.forms-container {
    /* background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(222, 27%, 46%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%); */
            background-color: #303053;

}



.form-container form{
    position: relative;
    gap: 1rem;
    width:900px;
    /* background: #000000; */
    padding: 20px;
    border-radius: 0.5rem;
    font-family: "Gabarito", sans-serif;
    font-weight:300;

    background-color: hsla(42, 100%, 98%, 0.9);
    /* box-shadow: 2px 2px 5px rgb(0, 0, 0); */
}


.form-container form .btn{
     /* flex: 1 1 -16rem;
    padding: 10x 34px;
     */
    border: none;
    border-radius: 0.5rem;
    background: #2874f0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}


  #fname_right{
    margin-right:5px;
}

  .input-field input {
    width: 100%;
    background-color: #c9c9c9;
    height: 40px;
    border-radius: 55px;
    
   
    padding-right:0;
    padding-left:10px;
   
    outline: none;
    border: none;
    width: 100%;
    border-radius: 55px;
    height: 40px;
    line-height: 1;
    font-weight: 600;
    font-size: 13px;
    color: #333;
    margin-left: 0;
}

#rowcol{
    flex-wrap:nowrap;
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box input[type=search]{
    font-weight: 500;
    border: 1px solid rgba(161, 161, 161, 0.596);
    border-radius: 4px;
}
.result-box ul{
    border-top:1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius:3px;
    padding: 15px 10px;
    cursor: pointer;
}
.input-box input[type=datetime-local]{
    font-weight: 500;
    border: 1px solid rgba(161, 161, 161, 0.342);
    border-radius: 4px;
}
.date-box input[type=datetime-local]{
    font-weight: 500;
    border: 1px solid rgba(161, 161, 161, 0.342);
    border-radius: 4px;
}


.input-box span{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-left:10px;
}

.input-box input{
    padding: 7px;
    outline: none;
    border:#000000;
    background: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.form-container form .sub-button{
    justify-content: end;
}
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#create-account{
    
    
    height:auto;
}
.signupform{
    position: absolute;
    background-color:#fff;
    box-shadow: 1px 10px 92px -11px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 10px 92px -11px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 10px 92px -11px rgba(0,0,0,0.46);

    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    
    width: 30%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    border-radius: 10px;
    overflow: hidden;
  }

  .signupform1{
    position: absolute;
    background-color:#fff;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    border-radius: 10px;
    overflow: hidden;
  }
.form-container form .btn:hover{
    background: #6B6B6B;
}

/*   For Navbar */
.navbar{
    background-color: #B28A74;
    font-family: "Gabarito", sans-serif;
    background-color:#181317;

}
.navbar-brand {
    font-weight: 600;
    font-size:20px;
    font-family: "Poppins", sans-serif;

}

.offcanvas-body .nav-item a{
    font-size:17px;
    /* transition: text-shadow 0.2s ease; */
    transition: color 0.2s ease;
    font-family: "Gabarito", sans-serif;



}
.offcanvas-body .nav-item a:hover{
    /* text-shadow: 0 0 10px #d4be95; */
    color:#ffffff ;
    transition: color 0.5s ease;
    /* transition: text-shadow 0.2s ease; */

}

.sidebar{
    background-color: #080708;
}


.navbar .nav-item{
    padding: 0px;

}

nav.active{
    /* background-color: var(--dark);
    box-shadow: none; */
    opacity:0;
    
    transform: translate3d( 0,-5rem,0);
   
    transition: transform 1s cubic-bezier(0.64,0.04,0.26,0.87),
    opacity 0.8s cubic-bezier(0.64,0.04,0.26,0.87);
    /* display: none; */
   
}
#text1{
    padding-top: 100px;
}
#text1 span{
    font-weight:bold;
    font-size: 50px;
    color:#ffd050;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
}
#text1 .txt{
    font-weight:500; 
    font-size: 25px; 
    right:0; 
    display:block; 
    font-family:"Gabarito", sans-serif;
}
#banner p{
    font-weight:bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 5px rgb(26, 26, 26); */
}
#banner_ad .img-prod img {
    height: auto;
    margin-bottom: 50px;
}
.fade-up{
    /* background-color: var(--dark);
    box-shadow: none; */
    opacity:0;
    
    transform: translate3d( 0,5rem,0);
   
    transition: transform 1s cubic-bezier(0.64,0.04,0.26,0.87),
    opacity 0.8s cubic-bezier(0.64,0.04,0.26,0.87);
    /* display: none; */
   
}
.fade-up.faded{
    opacity:1;
    transform:translate3d(0,0,0);
}
#backyy{
    transition: background-color 0.5s ease;
    background-color:rgb(15, 15, 15);
}

#backyy.active{
    transition: background-color 0.5s ease;
    background-color: rgb(0, 139, 63);
}
#banner_ad #backyy p {
    font-size: 30px;
    font-family: "Gabarito",sans-serif;
}


.wallp3{
    min-height: 25dvh;
    width:100%;
    height: 75dvh;
   
    background-blend-mode:color-burn;
    /* background-attachment:fixed; */
    /* background-size: 100%; */
    background-position:center;
    /* background-repeat: no-repeat; */
    background-size:cover;
    position: relative;
    
    background-image: url('/assets/wallp3.jpg');
}

.navbar.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-top: 50% !important;
  }
  .navbar.backTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-bottom: 50% !important;
  }

/* Chauffeur */

#ChauffeurDrive .col-md-6 label{
    margin-left: 5px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #con{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #add{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #pick{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #drop{
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

#ChauffeurDrive #pdate{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #pdate span{
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #ptime{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive #ptime span{
    font-weight: 400;
    font-size: 20px;
}

#ChauffeurDrive .col-12 .btn{
    margin-top: 25px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* Reservation Form */
#ReserveContainer .col-md-6{
    font-weight: bold;
    font-size: 20px;
}

#ReserveContainer .col-md-6 label{
    margin-left: 5px;
}

#ReserveContainer #label3{
    margin-top: 20px;  
    font-weight: bold;
    font-size: 20px;
}

#ReserveContainer #label3 .form-label{
    margin-left: 5px;
}

#ReserveContainer #selection .form-group{
    margin-top: 15px;
    margin-left: 5px;
}

#ReserveContainer #col1{
    margin-top: 20px;
}

#ReserveContainer #col2{
    margin-top: 20px;
}

#ReserveContainer .col-sm-4 #res1 span{
    margin-left: 5px;
}

#ReserveContainer .col-sm-4 #res2 span{
    margin-left: 5px;
}

#ReserveContainer .col-12 .btn{
    margin-top: 25px;
    margin-left: 5px;
}

/* --------Reservation--------- */
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    text-align: center;
  }
  
/* User Reservation */
#userRes .col table{
    margin-bottom: 187px;
}

#userRes #titlecontainer{
    min-width: 50px;
    margin-top: 60px;
    margin-left: 40px;

}

/* --------User Reservation--------- */

#container{
    border-radius: 20px;
}

#cart {
    height: 100%;
    margin-bottom: 260px;
}

#cart .row img{
    margin-top: -40px;
height: 180px;
}

#cart .row h5{
    margin-left: 0px;
    font-size: 25px;
}

#cart .row .col-sm-7 p{
    margin-left: 0px;
    font-size: 20px;
}

#cart .row .qty button{
    font-size: 18px;
}


#cart .row .col-sm-12 img{
    margin-top: 10px;
}

#cart .col-sm-1{
    margin-left: -100px;
}
/* Footer */
/* 
.footer{
    width: 100%;
 } */
footer{
    font-family: "Gabarito",sans-serif;
    background-color: #353535;
    /* padding: 35px 0; */
    color: #ffffff;
    position:relative;
    width: 100%;
    margin-right:0;
    margin-left:0;
    display: block;
    /* height: 50vh;
    margin-top:auto; */
}

.center-footer{
    align-self:center;
}
.text-right{
    text-align: right;
    justify-self: end;
}
footer .text-right ul li a{
    color: #ffffff;

}
.copyright{
    display:none;
}
/* .footer .row{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.footer ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 5px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#footer{
    border-top: 1px solid #ccc;
} */

/* Company */
:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-color: #353535;
  }
  
  #sidebar-wrapper {

    min-height: 100dvh;
    margin-left: -20rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 20rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }

  #wrapper .container-fluid .btnadd{
    font-size: 23px;
    border-radius: 10px;
  }


#product .form-row #btn1{
    width: 170px;
}
#product .item-image{
    width:500px; 
    height:auto;
}
#product .posts {
    transition: all 1s 0.7s ease-in-out;

}
#product .posts .load1{
    background-color: #003859;
}
.reserve_sect{
    min-height:100dvh;
}

.container-fluid .head-row{
    background-color:#268ab8;
    /* box-shadow:0px 5px 20px #4c9fff ; */
    padding: 15px 40px 15px 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Display 5 items per row initially */
    gap: 15px; /* Adjust the gap between items as needed */
    justify-content: center;
}

.grid-item {
    border-radius: 5px;
    background-color:#FFFFFF;
    box-shadow: 1px 1px 2px 1px #9b868614;
    width: 350px;
    height: 350px;
    justify-items: center; /* Center items vertically within grid cells */
    /* Add your styling for grid items here */
}
.grid-item  .item-footer {
    margin-top:10px;

}

.grid-item  .item-footer .item-text {
    /* margin-left:10px; */
    margin-bottom:0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #75758B;
    font-weight: 100;
    
}
.grid-item  .item-footer span {

    font-size:18px;
    font-weight:700;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: black;
}

.grid-item  .item-footer p{
    font-size:20px;
    margin-left:10px;
}

.navbar .navbar-nav .image{
    display: none;
}

.search-bar .search-field{
    width: 250px;
}

#special-offers img{
    width:250px; 
    height:auto;
}
#special-offers img{
    width:250px; 
    height:auto;
    justify-content: center;
}


#top-products img{
    width:150px; 
    height:auto;
}

.search-bar .search{
    display: flex;
    justify-content: end;
}

.shop-name-banner{
    background-color: #474747;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    align-items: start;
    border-radius: 5px;
    width:190px;
    
}

.shop-name-banner h4{
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
    text-align:start;
}

.navbar .notification-bell > a > span{
    color:#fff;
}

.navbar .notification{
    position:absolute;
    top:-6px;
    right:0px;
    display:block;
    font-size:9px;
    border:0;
    background-color:#ffffff;
    min-width:15px;
    text-align:center;
    padding:1px 5px;
    height:15px;
    border-radius:2px;
    line-height:14px;
}

.navbar .drop-notification .dropdown-notif{
    padding: 10px;
    width: 200px;
}

.navbar .drop-notification .dropdown-menu a{
    text-decoration: none;
    color: #191919;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

#shopModal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
}

@media screen and (max-width: 768px) {
    .offcanvas-body .vert-ruler{
        display: none;
    }
    .form-container form{
        position: relative;
        gap: 1rem;
        width:100%;
        /* background: #000000; */
        padding: 20px;
        border-radius: 0.5rem;
        font-family: "Gabarito", sans-serif;
        font-weight:300;
    
        background-color: hsla(42, 100%, 98%, 0.9);
        /* box-shadow: 2px 2px 5px rgb(0, 0, 0); */
    }
    
    #top-products .shop-container .grid-item {
        /* margin-right: 1.2rem; */
        width:120px;
        /* margin-right: 1.2rem; */
        height: 160px;
        
    }

    

    .grid-container {
        /* margin-top: 50px; */
        grid-template-columns: repeat(3, 1fr); /* Display 2 items per row on smaller screens */
    }

    .grid-item{
        width: calc(33.33% - 10px); /* 33.33% of the container width with gap adjustment */
        padding-bottom: calc(33.33% - 10px); /* 33.33% of the container width with gap adjustment */
        box-sizing: border-box;
        height: auto;
    }


    .search-bar h4{
        font-size: 25px;
    }

    .search-bar .search{
        /* margin-top: -10px; */
        display: flex;
        justify-content: center;
    }

    .search-bar .search-field{
        width: 300px;
    }

    #special-offers img{
        width: 100px;
        height:auto;
    }

    #top-products img{
        width: 100px;
        height:auto;
    }

    #special-offers .center-text{
        text-align: center;
    }

    #top-products .center-text{
        text-align: center;
    }

    
    #top-products .car-name{
        font-size: 11px;
    }

    #special-offers .item-text{
        font-size: 12px;
        color:#75758B;
        font-weight: 100;
    }

    #top-products .item-text{
        font-size: 12px;
    }

    #special-offers .badge{
        font-size: 9px;
    }

    #top-products.badge{
        font-size: 9px;
    }
    #product .item-image{
        width:500px; 
        height:auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 991px){
    .navbar .navbar-nav a{
        padding: 4px;
    }

    .navbar .navbar-nav .image{
        display: block;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    .navbar .navbar-nav{
        margin-bottom: 40px;
    }
    
    .sidebar{
        background-color: #0f0d0f;
    }
    .dropdown-menu.dropdown-menu-end {
        left: auto;
        right: 0;
    }
}


/*------------------------------------RESIZING------------------------------------*/

@media (max-width: 1024px) {
    .form-container form{
        position: relative;
        gap: 1rem;
        width:100%;
        /* background: #000000; */
        padding: 20px;
        border-radius: 0.5rem;
        font-family: "Gabarito", sans-serif;
        font-weight:300;
    
        background-color: hsla(42, 100%, 98%, 0.9);
        /* box-shadow: 2px 2px 5px rgb(0, 0, 0); */
    }
#banner p{
    display: none;
}

#banner_ad .container img{
    display: none;
}


#ReserveContainer{
    min-width: 60px; 
}

#ReserveContainer .col-md-2 #res2{
    margin-left: 0px;
}

#ReserveContainer .row #label2{
    margin-top: 15px;
}

#special-offers {
height: 100%;
}

#special-offers #filters .btn{
    margin-left: -10px;
}


#special-offers .grid h5{
    font-size: 15px;
    margin-left: 10px;
}

#special-offers .grid h6{
    font-size: 17px;
    margin-left: 10px;
}
.grid-item  .item-footer p{
    font-size:20px;
    margin-left:0px;
}

#special-offers .grid span{
    font-size: 17px;
    margin-left: 10px;
    
}

#special-offers a {
    height:auto;
    width:200px;
}
.signupform{
    width:80%;
}

.signupform1{
    width:80%;
}

.form-container form .input-box{
    width: 100%;
}

.main-navbar .top-navbar .nav-link{
    font-size: 17px;
    padding: 10px;
}

#navbar-icon-design{
    font-size: 50px;
    font-weight: bold;
}

#cart .col-sm-1{
    margin-top: 15px;
}

#ChauffeurDrive{
    width: 90%;
}

#sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}

#product .form-row #btn1{
    width: 200px;
}
}

@media (max-width: 768px) {
    
    .navbar-brand {
        padding-left:10px;
    }
    .signupform{
        width:70%;
        height:100%;
        padding:0px;
    }
    #text1 .txt{
        display:none;
    }
    #text1{
        padding-top:20px;
    }
    #text1 p{
        padding-bottom:0;
        font-size:30px;
    }
    #text1 span{
        display: block;
        padding-bottom:0;
        font-size:30px;
    }
    
    
    .form-container form {
        width:100%  ;

        position: relative;

        margin:0;
        margin-top:50px;
        padding-top:40px;
        align-items: center;
        justify-content: center;
        background-color: hsla(42, 100%, 98%, 0.9);
        /* box-shadow: 2px 2px 5px rgb(0, 0, 0);*/
    }


    .grid-item {
        width:  100%;
        height:260px;
        /* padding-bottom: calc(33.33% - 10px); */
        /* box-sizing: border-box; */
        /* height: 180px; */
    }
    .grid-item  .item-footer p{
        font-size:20px;
        margin-left:0px;
    }
    #special-offers .car-name {
        text-align: left;    
    }

    #special-offers .product{
        font-size: 15px;
        height:auto;
        flex-wrap: nowrap;
    }
    #special-offers .product .price{
       /* text-align: bottom; */
       /* position: absolute; */
       margin-left:10px;
       /* margin-top:30px; */
    }
    
    .grid-item .product .rating-text h6{
        font-size: 20px;
        /* position: absolute; */
        margin-bottom:95px;
        margin-left:10px;

    }
    .grid-item .product .rating-text {
        width:50%;
        /* height:250px; */
    }
    .grid-item .product .price{
        width:50%;
    }
    #special-offers .grid-item .item-footer span{
        /* text-align: bottom; */
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        color:black;
        /* margin-top:50px; */
     }
     #special-offers .grid-item   .item-footer {
        margin-top:0px;
        
    }
    
    #special-offers .grid-item .item-footer .ave{
        font-family:"Gabarito", sans-serif;
    
        font-size:25px;
        color:#e2ba4a;
        text-align: center;
        /* width:30px; */
        margin-left:10px;
        border-radius: 5px;
        /* display: inline; */
        /* margin-top:50px; */
    
        text-align: start;
    }

     
    #special-offers img{
        width:200px;
        /* float:right; */
        position: absolute;
        margin-top:40px;
        margin-right:10px;
        right:20px;
    }
    .signupform1{
        width:70%;
        height:100%;
        padding:0px;
    }
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .containers {
      padding: 1.5rem;
    }
  
    .containers:before {
      bottom: 72%;
      left: 50%;
    }
  
    .containers.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
    .footer{
        display:none;
    }
    .copyright{
        display: block;

    }
  }

  

@media (max-width: 425px) {
    
    .navbar-brand {
        padding-left:10px;
        font-size:18px;
    }
    .signupform{
        width:70%;
        height:100%;
        padding:0px;
    }
    #text1 .txt{
        display:none;
    }
    #text1{
        padding-top:20px;
    }
    #text1 p{
        padding-bottom:0;
        font-size:30px;
    }
    #text1 span{
        display: block;
        padding-bottom:0;
        font-size:30px;
    }
    
    
    .form-container form {
        width:100%  ;

        position: relative;

        margin:0;
        margin-top:50px;
        padding-top:40px;
        align-items: center;
        justify-content: center;
        background-color: hsla(42, 100%, 98%, 0.9);
        /* box-shadow: 2px 2px 5px rgb(0, 0, 0);*/
    }
    .form-container form .input-box{
        width: 100%;
        margin-bottom:10px;
    }

    .form-container form .input-box span{
        margin-bottom:8px;
    }
    .form-container form .sub-button {
        align-self: center;
        justify-content: center;
    }

    #banner_ad #backyy p{
        font-size:30px;
    }
    #special-offers #filters {
        border-width: 10px;
        box-shadow: 1px 1px 2px #33333354;
        border-radius: 5px;
        width: 280px;
    }
    .grid-item {
        width:  100%;
        height:260px;
        /* padding-bottom: calc(33.33% - 10px); */
        /* box-sizing: border-box; */
        /* height: 180px; */
    }
    .grid-item  .item-footer p{
        font-size:20px;
        margin-left:0px;
    }
    #special-offers .car-name {
        text-align: left;    
    }

    #special-offers .product{
        font-size: 15px;
        height:auto;
        flex-wrap: nowrap;
    }
    #special-offers .product .price{
       /* text-align: bottom; */
       /* position: absolute; */
       margin-left:10px;
       /* margin-top:30px; */
    }
    
    .grid-item .product .rating-text h6{
        font-size: 20px;
        /* position: absolute; */
        margin-bottom:95px;
        margin-left:10px;

    }
    .grid-item .product .rating-text {
        width:50%;
        /* height:250px; */
    }
    .grid-item .product .price{
        width:50%;
    }
    #special-offers .grid-item .item-footer span{
        /* text-align: bottom; */
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        color:black;

        /* margin-top:50px; */
     }
     #special-offers .grid-item   .item-footer {
        margin-top:0px;
        
    }
    
    #special-offers .grid-item .item-footer .ave{
        font-family:"Gabarito", sans-serif;
    
        font-size:25px;
        color:#e2ba4a;
        text-align: center;
        /* width:30px; */
        margin-left:10px;
        border-radius: 5px;
        /* display: inline; */
        /* margin-top:50px; */
    
        text-align: start;
    }

    #special-offers #filters button{
        border-radius:5px;
        /* box-shadow: 1px 1px 1px #3333333f; */
        font-size:15px;
        font-family: "Gabarito", sans-serif;
    }
    #special-offers img{
        width:200px;
        /* float:right; */
        position: absolute;
        margin-top:40px;
        margin-right:10px;
        right:20px;
    }
    #product .item-image{
        width:350px; 
        /* height:auto; */
        margin-bottom:50px;
        
    }
    #product .ave {
        color: #e2ba4a;
        font-size:20px;
        margin-left:10px;
        
    }
    
    .signupform1{
        width:70%;
        height:100%;
        padding:0px;
    }
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .containers {
      padding-top: 0;
    }
  
    .containers:before {
      bottom: 72%;
      left: 50%;
    }
  
    .containers.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }

    .shop-name-banner {
        background-color: #474747;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        display: flex;
        align-items: center;
        border-radius: 5px;
        width: 180px;
    }
   
    .footer{
        display:none!important;
    }
    .copyright{
        display: block;

    }
  }
  @media (max-width: 375px) {
    
    .navbar-brand {
        padding-left:10px;
    }
    .signupform{
        width:70%;
        height:100%;
        padding:0px;
    }
    #text1 .txt{
        display:none;
    }
    #text1{
        padding-top:20px;
    }
    #text1 p{
        padding-bottom:0;
        font-size:25px;
    }
    #text1 span{
        display: block;
        padding-bottom:0;
        font-size:25px;
    }
    
    
    .form-container form {
        width:100%  ;

        position: relative;

        margin:0;
        margin-top:40px;
        padding-top:40px;
        align-items: center;
        justify-content: center;
        background-color: hsla(42, 100%, 98%, 0.9);
        /* box-shadow: 2px 2px 5px rgb(0, 0, 0);*/
    }

    #special-offers #filters {
        border-width: 10px;
        box-shadow: 1px 1px 2px #33333354;
        border-radius: 5px;
        width: 300px;
    }
    .grid-item {
        width:  100%;
        height:260px;
        /* padding-bottom: calc(33.33% - 10px); */
        /* box-sizing: border-box; */
        /* height: 180px; */
    }
    .grid-item  .item-footer p{
        font-size:20px;
        margin-left:0px;
    }
    #special-offers .car-name {
        text-align: left;    
    }

    #special-offers .product{
        font-size: 15px;
        height:auto;
        flex-wrap: nowrap;
    }
    #special-offers .product .price{
       /* text-align: bottom; */
       /* position: absolute; */
       margin-left:10px;
       /* margin-top:30px; */
    }
    
    .grid-item .product .rating-text h6{
        font-size: 20px;
        /* position: absolute; */
        margin-bottom:95px;
        margin-left:10px;

    }
    .grid-item .product .rating-text {
        width:50%;
        /* height:250px; */
    }
    .grid-item .product .price{
        width:50%;
    }
    #special-offers .grid-item .item-footer span{
        /* text-align: bottom; */
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 700;

        /* margin-top:50px; */
     }
     #special-offers .grid-item   .item-footer {
        margin-top:0px;
        
    }
    
    #special-offers .grid-item .item-footer .ave{
        font-family:"Gabarito", sans-serif;
    
        font-size:25px;
        color:#e2ba4a;
        text-align: center;
        /* width:30px; */
        margin-left:10px;
        border-radius: 5px;
        /* display: inline; */
        /* margin-top:50px; */
    
        text-align: start;
    }

    
    #special-offers img{
        width:150px;
        /* float:right; */
        position: absolute;
        margin-top:40px;
        margin-right:10px;
        right:20px;
    }
    .signupform1{
        width:70%;
        height:100%;
        padding:0px;
    }
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }